{% extends 'base.html.twig' %}

{% block title %}Landing page{% endblock %}

{% block body %}

<div class="login-container" style="padding: 20px; word-break: break-all">
    <main id="main" class="landingPage">
        {{ landingContent | raw }}
    </main>
</div>

{% endblock %}
