{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
    <div class="login-container" style="padding: 20px">
        <main id="main">
            <h1>The link is either expired or already used</h1>
        </main>
    </div>
{% endblock %}
