{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
    <div class="login-container" style="padding: 20px">
        <div id="flash-messages">
            {% for message in app.flashes('error') %}
                <div class="error__block">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <main id="main">
            Create your new password
            {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
        </main>
    </div>
{% endblock %}
