{% extends 'base.html.twig' %}

{% block body %}
    <div class="login-container" style="padding: 20px">
        <main id="main">
            <div>{{ message }}</div>
        </main>
    </div>
{% endblock %}

