.modal-header-gallery {
    padding: 2px 16px;
    font-size: 1.5em;
}
.fa-plus {
    position: absolute;
    margin-left: 0.5em;
    font-size: 1.5em;
    opacity: 0.8;
    transition: opacity 0.2s;
    cursor: pointer;
}

label {
    font-size: unset;
    color: #5e5e5e;
}

.fa-plus:hover {
    opacity: 1;
}