.modal-body-gallery {
    padding: 2px 16px;
    margin-top: 25px;
}

.fileContainer {
    position: relative;
}

.fileTitle {
    font-size: 1.2em;
}
.modal-content {
    width: 85%;
    padding-bottom: 5em;
}