.associate-levelBarListItem {
  width:100%;
  max-width:100%;
  margin: auto;
}
.associate-levelBar {
  margin: auto;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  cursor: default;
  margin-bottom: 10px;
  background-color: #3ab54a;
}