<div class="sidebar-logoContainer">
    {% set logo = getLogo() %}
    {% if logo is not null %}
        <img style="max-width: 100px; max-height: 100px" src="{{ logo|downloadUrlParser }}" />
    {% else%}
        <img class="sidebar-logo" src="{{ asset('assets/images/plum_tree_logo.png') }}" />
    {% endif %}
</div>