{% if app.user.associate is defined %}
    <a href="{{ path('associate_profile') }}">
        <div class="sidebarProfile__container">
            {% set associate = app.user.associate %}
            <div class="sidebarProfile__pictureContainer">
                {% if associate.profilePicture is not null %}
                    <img class="sidebar-picture" src="{{ associate.profilePicture|downloadUrlParser }}" />
                {% else%}
                    <img class="sidebar-picture" src="{{ asset('assets/images/profile.jpg') }}" />
                {% endif %}
            </div>
            <div class="sidebarProfile__labelContainer">
                {{ associate.fullName}}
            </div>
        </div>
    </a>
{% endif %}
