.container {
    display: flex;
    margin-top: 1em;
}

.container #link {
    flex: 1;
    height: 34px;
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
    border-right: 0;
}
.container button {
    position: relative;
    width: 39px;
    height: 34px;
    padding: 0;
    margin: 0;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc,#eee);
    border: 1px solid #d5d5d5;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    outline: 0;
    transition: opacity .3s ease;
}

.container button:hover {
    background-color: #999999;
}

.visibleTooltip {
    opacity: 0.9 !important;
}

.container button span {
    position: absolute;
    top: -55px;
    left: -50%;
    margin-top: 10px;
    padding: .55rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    color: #000;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 2px 6px rgba(0,0,0,0.23);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;



}

