#clipboard-app{
}

.invitationAboutText {
  font-size: 1.2em;
  padding: 1em 0 1em 0;
  margin: 0.5em 0 0.5em 0;
}

.barCodeImageContainer {
  text-align: center;
  position: relative;
  min-height: 200px;
  width: 100%;
}

.invitationLinkTitle {
  flex: 1;
  white-space: nowrap;
}

.invitationLinkContainer {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
  width: 100%;
}

.originalQrCode {
}

.originalQrCode, .full-screen-img {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.full-screen-img {
  z-index: 1000;
  transform: scale(2);
  max-width: 100%;
  max-height: 100%;
}

.image-center-anchor {

}

.imgOpened {

}


