{% extends 'bodyBase.html.twig' %}

{% block title %}Associate information{% endblock %}

{% block content %}
    <p>associate.fullName</p>
    <p>associate.email</p>
    <p>associate.mobilePhone</p>
    <p>associate.joinDate</p>
{% endblock %}