{% extends 'bodyBase.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block content %}
    <div class="admin-contentContainer">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Add image</span>
                <div class="file-upload">
                    <div class="image-upload-wrap">
                        <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
                        <div class="drag-text">
                            <h5>Drag and drop a file or click to add Image</h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="admin-contentContainer">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Image gallery</span>
                <div class=”gallery”>

                </div>
            </div>
        </div>
    </div>



{% endblock %}
