{% extends 'base.html.twig' %}

{% block title %}User Search{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="invitation">
    {% if is_granted('ROLE_ADMIN') %}
    {{ include('includes/sidebar.html.twig') }}
    {% endif %}
    <div class="associate-searchContainer">
        <div id="root"></div>
    </div>

{% endblock %}