<div class="sidebar">
    <div class="fixed">
        {% include 'includes/sidebar/logo.html.twig' %}
        {% include 'includes/sidebar/profile.html.twig' %}
    </div>
    {% include 'includes/sidebar/menuItems.html.twig' %}
</div>
