<div class="sidebar">
                <div class="sidebar-logoContainer">
                <img class="sidebar-logo" src="{{ asset('assets/images/plum_tree_logo.png') }}" />
                </div>
                <div class="sidebar-titleContainer">
                    Hello, 
                    <div>
                        John Stevens
                    </div>
                </div>
                <div class="sidebar-pictureContainer">
                        <img class="sidebar-picture" src="{{ asset('assets/images/profile.jpg') }}" />
                </div>
                <div class="sidebar-item">
                    User Search
                </div>
                <div class="sidebar-item">
                    My Team
                </div>
                <div class="sidebar-item">
                    Invite Associate
                </div>
                <div class="sidebar-item">
                    Download CSV
                </div>
                <div class="sidebar-item">
                    My Profile
                </div>
                <div class="sidebar-itemLast">
                    Logout
                </div>

            </div>
