<div class="sidebar" style="position: fixed; top: 0; bottom: 0; left: 0; width: 250px!important">
    {% include 'includes/sidebar/logo.html.twig' %}
    {% include 'includes/sidebar/profile.html.twig' %}
    {% include 'includes/sidebar/menuItems.html.twig' %}
</div>
