.share {
  position: relative;
  padding: 0;
  text-align: end;
  grid-column-start: 1;
  grid-column-end: 3;
}

.socialLinks {
}

#shareButton {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-left: 1em;
}