.login-inputContainer input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    font-family: Avenir Helvetica sans-serif;
    font-size: 14px;
}

.login-container {
    margin: 20px auto 20px auto;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color:#fff;
    padding:100px 20px 50px 20px;
    border-radius:5px;
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.login-title {
    text-align: center;
    margin-bottom:20px;
    color: grey;
}

.login-item {
    margin: auto;
    width: 50%;
}

.login-item input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    font-family: Avenir Helvetica sans-serif;
    font-size: 14px;
}

.login-logoContainer {
    margin: 0 auto 20px auto;
    width: 200px;
    text-align: center;
}

.login-buttonWrap {
    margin: 50px auto 20px auto;
    width: 75px;
}

.login-errorMessageContainer, .profile-errorMessageContainer {
    margin: auto;
    color: #d92121;
}

@media screen and (max-width: 668px) {
    .login-container {
        width: 80%;
    }
    .login-item {
        width: 80%;
    }
    .login-container {
        margin-top: 50px;
    }
}