.sidebar {
    position: fixed;
    top: 320px;
    bottom: 0;
    left: 0;
    width: 260px;
    /*min-width: 319px;*/
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(126, 126, 126, 0.75);
    overflow: auto;
}

.fixed {
    box-shadow: 0 0 8px 0 rgba(126, 126, 126, 0.75);
    position: fixed;
    width: 260px;
    height: 320px;
    top: 0;
    bottom: 0;
    left: 0;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00C851;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

}


::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00C851;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

}

.sidebar-pictureContainer {
    padding: 20px 0 20px 0;
    width:100%;
    flex:1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
}

.sidebar-titleContainer {
    text-align: center;
    font-size: 48px;
    font-weight: 100;
    cursor: default;
    border-right: 2px solid #7f06c4;
}

.sidebar-item, .sidebar-itemLast {
    width: 100%;
    padding-left: 20px;
    background-color: #fff;
    color: #444444;
    cursor: pointer;
}

.sidebar-item a, .sidebar-itemLast a  {
    margin-left: 20px;
    display: block;
    color:inherit;
    line-height: 50px;
    height: 50px;
}

.sidebar-item:hover {
    background-color: #f2f2f2;
    color: #7f06c4;

}

.sidebar-itemLast:hover {
    background-color: #f2f2f2;
    color: #7f06c4;
}

.sidebar-item {
    display: flex;
    height: 50px;
    line-height: 50px;
}

.materialDesignIcons {
    align-items: center;
    justify-content: center;
    line-height: 50px;
}

.sidebar-logo {
    /*width: 100%;*/
    max-height: 100px;
    object-fit: contain;
    padding: 1em;
}

.sidebar--active {
    background-color: #f2f2f2;
    color: #7f06c4;
}

.sidebar-logoContainer {
    padding: 12px 0 12px 0;
    width:100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
}

.sidebarProfile__container {
    background-color: #3ab54a;
    border-right: 2px solid #3ab54a;
    display: flex;
    width: 100%;
    height: 200px;
    font-size: 24px;
    font-weight: 100;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}

.sidebarProfile__pictureContainer {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.sidebar-picture {
    display: inline;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.sidebar__sectionLabel {
    padding-left: 40px;
    height: 50px;
    line-height: 50px;
    color: #7f06c4;
    border-right: 2px solid #f2f2f2;
    font-size: 1.2em;
    cursor: default;
}

.sidebar__sectionLabel:hover {
    background-color: #fff;
}

.sidebar-itemLast {
    align-self: flex-end;
}

.sidebar-label {
    float: right;
    margin-right: 20px;
    font-size: 26px;
    line-height: 50px;
    display: none;
}

.sidebar-menu, .sidebar-profileContainer {
    display: none;
    animation: none;
}

.sidebar-menu {
    bottom: 0;
    overflow-y: auto;
}

.sidebar-menu-active, .sidebar-profileContainer-active {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.sidebar-profileContainer-active {
    animation : adminMenuFade 0.25s ease-out forwards;
}

.sidebar-menu-active {
    animation : adminMenuFade 0.25s ease-out forwards;
    top: 240px;
}
.sidebarProfile__labelContainer {
    padding: 0 10px 0 10px;
    width: 100%;
    word-wrap: break-word;
    font-size: 90%;
    text-align: center;
}

.copyRight {
    pointer-events: none;
    justify-content: center;
}

.footer {
    text-align: center;
    padding: 0;
    display: block;
    box-shadow: inset 0 1px 0 0 #d5d5d5;
    justify-content: center;
    color: #5e5e5e;
}

.footer:hover {
    background-color: #fff;
    color: #5e5e5e;
}

.downloadCSV {
    padding-top: 1em;
}

.downloadCSV:hover {
    color: #7f06c4;
}

.footer a {
    margin-left: 0;
    line-height: 30px;
    height: 30px;
}

@keyframes adminMenuFade {
    from {
        /*opacity: 0;*/
        transform: translateX(-100%);
    }
    to {
        /*opacity: 1;*/
        transform: translateX(0px);
    }
}

@keyframes adminMenuFadeBack {
    from {
        /*opacity: 1;*/
        transform: translateX(0px);
    }
    to {
        /*opacity: 0;*/
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 800px) {
    .fixed {
        box-shadow: 0 0 8px 0 rgba(126, 126, 126, 0.75);
        width: 100%;
        height: 100%;
        position: unset;
    }
    .sidebar {
        /*position:relative;*/
        display:block;
        margin:auto;
        top: 0;
        width: 100%;
        height: 85px;
        bottom: auto;
        z-index: 50;
    }
    .sidebar-label {
        display: inline-block;
        cursor: pointer;
    }
    .sidebar-logo {
        z-index: 999999;
        max-height: 50px;
        margin-left: 40px;
        padding: unset;
        width: 100%;
        height: 100%;
    }
    .sidebar-menu-inactive {
        /*display: block;*/
        position: fixed;
        /*width: 100%;*/
        z-index: 20;
        width: 100%;
        display: block;
        animation : adminMenuFadeBack 0.25s ease-out forwards;
    }

    .sidebar-profileContainer-inactive {
        display: block;
        position: fixed;
        z-index: 20;
        width: 100%;
        animation : adminMenuFadeBack 0.25s ease-out forwards;
        /*display: none;*/
    }
    .sidebar-logoContainer {
        height: unset;
        display: grid;
        grid-template-columns: 5fr 1fr;
        justify-items: center;
    }
}

@media screen and (min-width: 801px) {
    .sidebar, .sidebar-menu {
        overflow-y: auto;
    }

    .sidebar-logo {
        width: 100%;
    }

    .sidebar-menu {
        margin-top: 1em;
        position:fixed;
        display: block;
        overflow-y:scroll;
        overflow-x:hidden;
        width: 260px;
        top: 320px;
        right: auto;
    }
    .sidebar-profileContainer {
        display: block;
        position: relative;
        width: 100%;
        right: auto
    }
}
.sidebar-item--barelyVisible>a {
    color: lightgrey;
}