.invitation-buttonWrap {
    margin: 1em auto auto auto;
    width: unset !important;
    text-align: center;
    height: 45px;
}

#invitation_submit {
    width: 200px;
}

.invitation-item {
    margin: auto;
    width: 80%;
}

.progress {
    width: 200px;
    margin: auto;
}