{% extends 'base.html.twig' %}

{% block body %}
    <div class="main__body" style="height: 100%; width: 100%">
        {% include 'includes/sidebar.html.twig' %}
        <div class="mainContent__container--sidebar" style="margin-left: 250px">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}