#slots__container {
    position: relative;
    height: 420px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background-color: #fffafafb;
    margin: 3rem 20px 1rem 280px;
    overflow: hidden;
    div {
        transition: transform .5s ease-out;
    }
}

// /* Hide scrollbar for Chrome, Safari and Opera */
// #slots__container::-webkit-scrollbar {
//     display: none;
// }

// /* Hide scrollbar for IE and Edge */
// #slots__container {
//     -ms-overflow-style: none;
// }

.middleBorderContainer {
    width: 100%;
    height: 142px;
    position: absolute;
    margin: auto;
    box-shadow: 0px 0px 2px 1px #000000;
    top: 0; left: 0; bottom: 0; right: 0;
}

.middleFocusRuler {
    box-sizing: content-box;
    position: absolute;
    border-radius: 5px;
    width: 4.25px;
    height: 155px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #eb3232;
    margin: auto;
    top: 0;
    bottom: 0;
}
.top {
    width: 115px;
    height: 4.25px;
    margin: 138px 0 0 0;
}
.bottom {
    width: 115px;
    height: 4.25px;
    margin: 278px 0 0 0;
}
.left {
    margin-left: -50px;
}
.right {
    margin-left: 50px;
}

.parentRight {
    margin: 0;
    width: 3px;
    margin-left: 50px;
}

.parentLeft {
    margin: 0;
    width: 3px;
    margin-left: -50px;
}

.arrow{
    cursor: pointer;
    z-index: 50;
    position: absolute;
    left: 50%;
    font-size: 3em;
    transform: translate(-50%,-50%);
}
.up {
    top: -18px;
}
.down {
    bottom: -60px;
}
.arrow span{
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 3.5px solid rgba(190, 142, 235, 0.6);
    border-right: 3.5px solid rgba(190, 142, 235, 0.9);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s ease-in-out infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.3s;
}
  @keyframes animate {
      0%{
          transform: rotate(225deg) translate(167px,167px);
      }
      50%{
        transform: rotate(225deg) translate(170px,170px);
      }
      100%{
        transform: rotate(225deg) translate(167px,167px);  
    }
    }

.card {
    position: relative;
    border-radius: 0 0 2px 2px;
    border-radius: 15px;
    background-color: #fff;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.card-content {
    padding: 3px;
    border-radius: 0 0 2px 2px;
}

@media screen and (max-width: 800px) {
    #slots__container {
        margin-left: 0;
        margin-right: 0;
    }
}

